/********************
YOUR STYLES
*******************/
html,
body {
	height:100%;
}

body{
    background: #40AAF2; 
    background: -webkit-linear-gradient(bottom right, #40AAF2, #52D291); 
    background: -o-linear-gradient(top left, #40AAF2, #52D291); 
    background: -moz-linear-gradient(top left, #40AAF2, #52D291); 
    background: linear-gradient(to top left, #40AAF2, #52D291); 
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#content {
	padding-bottom:50px; 
}

img{
    display: block;
    margin: auto;
    padding-top: 4em;
}

h1, p{
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

p{
    font-weight: 300;
}

#footer {
	width:100%;
	height:55px;
	position:absolute;
	bottom:0;
	left:0;
}



/********************
MEDIA QUERIES
*******************/
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 
    img{
        max-width: 60%;
    }

}

/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {
    img{
        max-width: 20em;
    }

}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 
  

}